<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexandrafernandez.sweproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Intro"/>
        <activity android:name=".HomeActivity" />
        <activity android:name=".sittingsForMyPet"/>
        <activity android:name=".Profile" />
        <activity android:name=".Sitter" />
        <activity android:name=".Owner" />
        <activity android:name=".Pets" />
        <activity android:name=".Pet" />
        <activity android:name=".Subscription" />
        <activity android:name=".PastSittings" />
        <activity android:name=".Feedback" />
        <activity android:name=".Rewards" />
        <activity android:name=".SitterAvailability" />
        <activity android:name=".NeedSitterEvent" />
        <activity android:name=".SitterAvailabilityEvent" />
        <activity android:name=".SignUp"/>
        <activity android:name=".ViewSitting"/>
        <activity android:name=".petsSittingList"/>
        <activity android:name=".petBeingSat"/>
        <activity android:name=".OwnerSitting"/>
        <activity android:name=".OwnerSittings"/>
        <activity android:name=".SitterSitting"/>
        <activity android:name=".SitterAccepted"/>
        <activity android:name=".OwnerAcceptedSittings"/>
        <activity android:name=".OwnerAcceptedSitting"/>
        <activity android:name=".ManageAcceptedSitting"/>
        <activity android:name=".Rating"/>
    </application>

</manifest>